.main {
	width:66%;
	padding: 0 2%;
}

aside {
	float: right;
	width: 26%;
	padding: 0 2%;
}

header, footer {
	padding: 0 2%;
	border-bottom: 1px solid;
	border-top: 1px solid;
}

body {
	width: 90%;
}